body{
align:center;
background-image:url(background.png);
font-family:cursive;
color:#C0C0C0;}

div#body{
background-color:#000000;
border-style:double;
border-color:#000099;
text-align:center;
margin-left:200px;
margin-right:200px;
margin-top:0px;
margin-bottom:0px;}

div#barra{
background-color:#3366cc;
text-align:left;
font-family:sans-serif;
margin-right:1300px;
padding-left:20px;
width:100px;
float:left;
display:inline;}

div#login{
position:fixed;
top:400px;
left:800px;
background-color:#000066;
border-style:double;
border-color:#000099;
padding:25px;
line-height:200%;
}

div#rodape{
background-color:#000000;
margin:0px;
}

a:link{color:#66ccff}

a:visited{color:#3399ff}

a:hover{color:#ccffff}

a{text-decoration:none;
font-weight:bold;}

div#search{
border:solid 2px #0099ff;
border-radius:10px;
width:290px;
height:32px;
float:center;
}

#txtbusca{
padding-left:0px; 
font-size:18px;
border:none;
height:30px;
width:191px;
}

#butbusca{
border:none;
height:33px;
border-radius:0 7px 7px 0;
width:70px;
font-weight:bold;
background:#0099ff;
}